body {
    font-family: 'Poppins', sans-serif;
}

.heading {
    font-size: 20px;
    font-weight: 500;
}

.sub-heading {
    font-size: 18px;
    font-weight: 500;
}

.text {
    font-size: 14px;
}

.box-border {
    border: .5px solid grey;
    border-radius: 30px
}

.image_card {

    height: 80px;
    width: 80px;


}